// HEADER--NAVIGATION
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.6rem;
  padding: 1.5rem;
  height: 9rem;

  &__logo {
    display: flex;
    flex: 1;
    color: var(--color-primary);
    font-size: 4.5rem;
    font-weight: 800;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 50%;
    height: 3rem;
    // height: 3rem;
  }

  &__item {
    position: relative;
    display: inline-block;
    list-style: none;
    text-align: center;
    height: 100%;
    width: 100%;

    &:not(:last-child) {
      margin-right: 1.6rem;
    }

    // udemy - 72
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: #ffc069;
      height: 100%;
      width: 2px;
      transform: scaleY(0);
      transition: transform 0.2s,
        width 0.4s cubic-bezier(0.96, 0.01, 0.14, 1.01) 0.2s;
    }

    &:hover::before {
      transform: scaleY(1);
      width: 100%;
    }
  }

  &__link {
    color: var(--body-copy);
    font-family: inherit;
    font-size: 1.8rem;
    line-height: 2;
    text-decoration: none;
    position: relative;
    z-index: 10;
  }
}

// ABOUT-US--ICONS
.about-us__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  border-radius: 100%;

  margin-right: 2rem;
  height: 8.5rem;
  width: 8.5rem;

  i {
    color: #f2f2f2;
    font-size: 4.5rem;
    text-align: center;
  }
}

// FORM
form {
  width: 100%;
  input {
    display: inline-block;
    background-color: #f2f2f2;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    margin-right: 8px;
    padding: 0.5rem 0.75rem;
    height: 2.75rem;
    width: 60%;

    &::-webkit-input-placeholder {
      color: var(--body-copy);
      display: inline-block;
      font-family: inherit;
      font-size: 1.4rem;
    }

    &:focus {
      outline: none;
    }
  }
}

// BUTTONS
.btn {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  cursor: pointer;
  // transform: scaleY(2);
  // transition: all 1s;

  &--primary {
    background-image: linear-gradient(
      to right,
      #d15042,
      #d04b3d,
      #cf4738,
      #cd4233,
      #cc3d2e
    );
    box-shadow: 0 0.8rem 1.6rem rgba(209, 80, 66, 0.4);

    &:hover {
      background-image: linear-gradient(
        to right,
        #a33024,
        #962c21,
        #8a281f,
        #7e251c,
        #722119
      );
    }

    border: none;
    border-radius: 6px;
    color: #fbfbfb;
    font-size: 2rem;
    text-align: center;
    padding: 1rem 2rem;
    height: 5.5rem;
    width: 20rem;

    &.n-shadow {
      box-shadow: none;
    }
  }

  &--sm {
    font-size: 1.4rem;
    text-align: center;
    padding: 0.8rem;
    height: 4rem;
    width: 12rem;
  }
}

// SOCIAL MEDIA ICONS
.social-media {
  &__row {
    display: flex;
    width: 30%;
  }

  &__col {
    margin-right: 2rem;
  }

  &__icon {
    height: 4.8rem;
    width: 4.8rem;
  }
}

// @keyframes bigger {
//   0% {
//     transform: scalex(2)
//   }
// }
