// HEADER--SECTION
header {
  margin: 0 12rem 12rem;

  .header-wrapper {
    min-height: 100vh;
    min-width: 100vw;
  }

  .hero {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    max-width: 100%;
    height: 100%;

    &__img {
      display: inline-block;
      flex-basis: 55%;
    }

    &__illustration {
      object-fit: cover;
      height: 40rem;
      width: 100%;
    }

    &__content {
      width: 40%;
    }

    &__text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100%;

      h1 {
        color: var(--body-copy);
        font-size: 5.5rem;
        font-weight: 800;
        line-height: 1.2;
        margin-bottom: 2.4rem;
        span {
          color: var(--color-secondary);
        }
      }
      h4 {
        color: var(--body-copy);
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.7;
        margin-bottom: 2.8rem;
      }
    }
  }
}

main {
  height: auto;
  width: 100%;
}

// ABOUT US--SECTION
.about-us-section {
  margin: 0 12rem 12rem;

  .about-us {
    display: flex;
    flex-direction: row;

    &__wrapper {
      flex-basis: 46%;
      padding: 1rem;
      max-height: 100%;
      max-width: 100%;
    }

    &__contents {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      width: 100%;

      &__row {
        display: flex;
        text-align: left;
        height: auto;
        width: 100%;
        margin: 3rem 0;
      }
    }

    &__text {
      margin-top: 0;
      flex: 1;
    }

    &__img {
      flex: 1;
    }

    &__illustration {
      object-fit: cover;
      height: auto;
      width: 100%;

      &__collect {
        display: none;
      }

      &__pickup {
        display: inline-block;
      }
    }
  }
}

// GET-STARTED--SECTION
.get-started-section {
  margin: 0 12rem 12rem;
  height: 100%;

  .get-started {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;

    &__row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fbfbfb;
      box-shadow: 0 0.8rem 1.6rem rgba(112, 112, 112, 0.15);
      border-radius: 1.2rem;
      cursor: pointer;
      flex-basis: 27%;
      padding: 2rem 2.5rem;
      height: 40rem;
      text-align: center;
    }

    &__img {
      display: inline-block;
      height: 15rem;
      width: 15rem;
    }
  }
}

// FOOTER-SECTION
.footer {
  background-color: var(--color-secondary);
  height: auto;
  width: 100%;

  &__wrapper {
    margin: 0 12rem 4rem 12rem;
    padding: 4rem 0;
    height: 40rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      color: #fbfbfb;
    }
  }

  &__col {
    flex-basis: 30%;
    min-height: 20rem;
  }

  .copyrights {
    background-color: #fbfbfb;
    color: var(--body-copy);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 7.5rem;
  }
}

@media (max-width: 600px) {
  // HEADER -- MOBILE-VIEW
  header {
    margin: 0 3.2rem 8rem;

    .hero {
      display: flex;
      // margin: 2rem 0;
      max-width: 100%;
      height: 100%;

      &__img {
        display: none;
        flex-basis: 100%;
      }

      &__illustration {
        object-fit: cover;
        height: 40rem;
        width: 100%;
      }

      &__content {
        width: 100%;
      }

      &__text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;

        h1 {
          color: var(--body-copy);
          font-size: 4.2rem;
          margin-bottom: 2.4rem;
          span {
            color: var(--color-secondary);
          }
        }
        h4 {
          color: var(--body-copy);
          font-size: 1.4rem;
          margin-bottom: 2.8rem;
        }
      }
    }

    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0;
      // height: 9rem;

      &__logo {
        // display: flex;
        // flex: 1;
        // color: var(--color-primary);
        font-size: 2.4rem;
      }

      // li
      &__item {
        display: none;
        list-style: none;
        // margin-right: 1.6rem;

        &:not(:last-child) {
          margin-right: 1.6rem;
        }
      }
    }
  }

  // ABOUT-US -- MOBILE-VIEW
  .about-us-section {
    margin: 0 3.2rem 8rem;

    .about-us {
      display: flex;
      flex-direction: column;

      &__wrapper {
        flex-basis: 46%;
        padding: 1rem;
        max-height: 100%;
        max-width: 100%;
      }

      &__logo-wrapper {
        margin-right: 0;
      }

      &__contents {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;

        &__row {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          height: auto;
          width: 100%;
          margin: 3rem 0;
        }
      }

      &__text {
        margin-top: 2rem;
        flex: 1;
      }

      &__img {
        order: -1;
        flex: 1;
      }

      &__illustration {
        object-fit: cover;
        height: auto;
        width: 100%;

        &__collect {
          display: inline-block;
        }

        &__pickup {
          display: none;
        }
      }
    }
    h2 {
      font-size: 4.5rem;
    }
  }

  // GET-STARTED -- MOBILE-VIEW
  .get-started-section {
    // background-color: orange;
    margin: 0 3.2rem 8rem;
    padding: 2rem;
    height: auto;

    .get-started {
      display: flex;
      flex-direction: column;
      height: auto;

      &__row {
        display: flex;
        padding: 6rem 2.4rem;
        text-align: center;
        height: 40rem;

        &:not(:first-child) {
          margin-top: 8rem;
        }
      }

      &__img {
        display: inline-block;
        height: 15rem;
        width: 15rem;
      }
    }

    h2 {
      font-size: 4.5rem;
    }
  }

  // FOOTER -- MOBILE-VIEW
  .footer {
    background-color: var(--color-secondary);
    height: auto;
    width: 100%;

    &__wrapper {
      margin: 0 3.2rem 3rem;
      padding: 2rem 0;
      height: auto;

      h2 {
        font-size: 4rem;
      }
    }

    &__row {
      display: flex;
      flex-direction: column;
    }

    &__col {
      flex-basis: 25%;
      &:not(:first-child) {
        min-height: 16rem;
      }
    }

    .copyrights {
      background-color: #fbfbfb;
      color: var(--body-copy);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 7.5rem;

      p {
        font-size: 1rem;
        width: 80%;
      }
    }
  }
}
