// ORIGINAL
// HEADER--SECTION
header {
  margin: 0 12rem 12rem;

  .header-wrapper {
    min-height: 100vh;
    min-width: 100vw;
  }

  .hero {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    max-width: 100%;
    height: 100%;

    &__img {
      display: inline-block;
      flex-basis: 55%;
    }

    &__illustration {
      object-fit: cover;
      height: 40rem;
      width: 100%;
    }

    &__content {
      width: 40%;
    }

    &__text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100%;

      h1 {
        color: var(--body-copy);
        font-size: 5.5rem;
        font-weight: 800;
        line-height: 1.2;
        margin-bottom: 2.4rem;
        span {
          color: var(--color-secondary);
        }
      }

      h4 {
        color: var(--body-copy);
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.7;
        margin-bottom: 2.8rem;
      }
    }
  }
}

// ABOUT US--SECTION
.about-us-section {
  // margin: 0 12rem 12rem;
  // margin-bottom: 8rem;

  .about-us {
    display: flex;
    flex-direction: row;

    &__wrapper {
      flex-basis: 46%;
      padding: 1rem;
      max-height: 100%;
      max-width: 100%;
    }

    &__contents {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      width: 100%;

      &__row {
        display: flex;
        text-align: left;
        height: auto;
        width: 100%;
        margin: 3rem 0;
      }
    }

    &__text {
      margin-top: 0;
      flex: 1;
    }

    &__img {
      flex: 1;
    }

    &__illustration {
      object-fit: cover;
      height: auto;
      width: 100%;

      &__collect {
        display: none;
      }

      &__pickup {
        display: inline-block;
      }
    }
  }
}

// GET-STARTED--SECTION
.get-started-section {
  margin: 0 12rem 12rem;
  height: 100%;

  .get-started {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;

    &__row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fbfbfb;
      box-shadow: 0 0.8rem 1.6rem rgba(112, 112, 112, 0.2);
      border-radius: 1.2rem;
      cursor: pointer;
      flex-basis: 27%;
      padding: 2rem 2.5rem;
      height: 40rem;
      text-align: center;
    }

    &__img {
      display: inline-block;
      height: 15rem;
      width: 25rem;

      &--sm {
        height: 12.5rem;
        width: 25rem;
      }

      &--md {
        height: 13rem;
        width: 25rem;
      }
    }
  }
}

// FOOTER-SECTION
.footer {
  background-image: linear-gradient(
    to right,
    #495894,
    #445289,
    #3e4b7f,
    #394574,
    #343f6a
  );
  height: auto;
  width: 100%;

  &__wrapper {
    margin: 0 12rem 4rem 12rem;
    padding: 4rem 0;
    height: 40rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      color: #fbfbfb;
    }
  }

  &__col {
    flex-basis: 30%;
    min-height: 22rem;
  }

  .copyrights {
    background-color: #fbfbfb;
    color: var(--body-copy);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 7.5rem;
  }
}

// MEDIA QUERIES
// MOBILE / SMALL DEVICES
// BUG: MAIN
@media (min-width: 300px) {
  // HEADER -- MOBILE-VIEW
  header {
    margin: 0 3.2rem;

    .header-wrapper {
      min-height: 100vh;
      min-width: 100vw;
    }

    .hero {
      &__img {
        display: none;
        flex-basis: 100%;
      }

      &__content {
        width: 100%;
      }

      &__text {
        h1 {
          font-size: 4.2rem;
        }

        h4 {
          font-size: 1.4rem;
        }
      }
    }

    .navbar {
      padding: 0;
      width: 100%;

      &__logo {
        font-size: 2.4rem;
      }

      &__item {
        display: none;
        list-style: none;
      }
    }
  }

  main {
    margin: 8rem 3.2rem;
  }

  // ABOUT-US -- MOBILE-VIEW
  .about-us-section {
    margin-bottom: 8rem;

    .about-us {
      flex-direction: column;

      &__logo-wrapper {
        margin-right: 0;
      }

      &__contents {
        &__row {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          height: auto;
          width: 100%;
          margin: 3rem 0;
        }
      }

      &__text {
        margin-top: 2rem;
      }

      &__img {
        order: -1;
      }

      &__illustration {
        margin-top: 2.4rem;
        height: 20rem;
        width: 100%;

        &__collect {
          display: inline-block;
        }

        &__pickup {
          display: none;
        }
      }
    }

    h2 {
      font-size: 4.5rem;
    }
  }

  // GET-STARTED -- MOBILE-VIEW
  .get-started-section {
    margin: 0;
    padding: 2rem;
    height: auto;

    .get-started {
      flex-direction: column;
      height: auto;

      &__row {
        padding: 6rem 2.4rem;
        text-align: center;
        width: 100%;

        &:not(:first-child) {
          margin-top: 8rem;
        }
      }
    }

    h2 {
      font-size: 4.5rem;
    }
  }

  // FOOTER -- MOBILE-VIEW
  .footer {
    &__wrapper {
      margin: 0 3.2rem 3rem;
      padding: 2rem 0;
      height: auto;

      form {
        input {
          width: 52%;
        }
      }

      h2 {
        font-size: 4rem;
      }
    }

    &__row {
      flex-direction: column;
      width: 100%;
    }

    &__col {
      align-self: flex-start;
      flex-basis: 25%;

      &:not(:first-child) {
        min-height: 18.5rem;
      }

      &:last-child {
        min-height: auto;
      }
    }

    .copyrights {
      p {
        font-size: 1rem;
        width: 80%;
      }
    }
  }
}

// TABLETS / MEDIUM DEVICES
@media (min-width: 768px) {
  // HEADER -- TABLET-VIEW
  header {
    margin: 0 4rem;
    .hero {
      flex-direction: column;

      &__img {
        display: inline-block;
        flex-basis: 100%;
        margin-bottom: 2.4rem;
      }

      &__illustration {
        &--shop {
          display: none;
        }

        &--think {
          display: inline-block;
          width: 100%;
        }
      }

      &__content {
        margin: 3.2rem;
        width: 100%;
      }

      &__text {
        h1 {
          font-size: 6rem;
        }

        h4 {
          font-size: 1.6rem;
        }
      }
    }
  }

  main {
    margin: 8rem 4rem;
  }

  // ABOUT-US -- TABLET-VIEW
  .about-us-section {
    // margin: 0 4rem 8rem;

    .about-us {
      flex-direction: column;

      &__wrapper {
        flex-basis: 46%;
        padding: 1rem;
        max-height: 100%;
        max-width: 100%;
      }

      &__logo-wrapper {
        height: 10rem;
        width: 10rem;

        i {
          font-size: 6rem;
        }
      }

      &__contents {
        margin: 2rem;

        &__row {
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          text-align: left;
        }
      }

      &__text {
        margin-top: 2.4rem;

        h3 {
          font-size: 3.6rem;
        }
        p {
          font-size: 2.2rem;
        }
      }

      &__img {
        // revise -1 meron sa  300px
        // order: -1;
        flex: 1;
        margin-bottom: 4rem;
      }

      &__illustration {
        object-fit: cover;
        height: 50rem;
        width: 100%;

        // revised meron sa  300px
        &__collect {
          display: inline-block;
        }

        &__pickup {
          display: none;
        }
      }
    }
  }

  // GET-STARTED -- TABLET-VIEW
  .get-started-section {
    // margin: 0 4rem 8rem;

    .get-started {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      &__row {
        padding: 10rem 2rem;
        width: 65%;
      }

      &__img {
        height: 18.5rem;
        width: 27.5rem;

        &--sm {
          height: 18rem;
          width: 18.5rem;
        }

        &--md {
          height: 18.5rem;
          width: 27.5rem;
        }
      }
    }
  }

  .footer {
    margin: 0;
    height: auto;
    width: 100%;

    form {
      input {
        height: 3.75rem;
      }
    }

    &__wrapper {
      margin: 0 8rem;
      height: auto;
    }

    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-size: 2.8rem;
      }
      p {
        font-size: 1.8rem;
        line-height: 1.8;
        color: #fbfbfb;
      }
    }
  }
}

// DESKTOP / LARGE DEVICES
@media (min-width: 992px) {
  // HEADER--DESKTOP-VIEW
  header {
    margin: 0 10rem;

    .hero {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 2rem 0;
      width: 100%;
      height: 100%;

      &__img {
        display: inline-block;
        flex-basis: 55%;
      }

      &__illustration {
        &--shop {
          display: inline-block;
        }

        &--think {
          display: none;
        }
      }

      &__content {
        width: 48%;
      }

      &__text {
        h1 {
          font-size: 5.5rem;
        }

        h4 {
          color: var(--body-copy);
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.7;
          margin-bottom: 2.8rem;
        }
      }
    }

    .navbar {
      &__logo {
        font-size: 2.4rem;
      }

      &__item {
        display: inline-block;
        list-style: inline-block;
      }

      &__link {
        font-size: 1.6rem;
      }
    }
  }

  main {
    margin: 10rem;
  }

  // ABOUT US--DESKTOP-VIEW
  .about-us-section {
    .about-us {
      &__contents {
        margin: 0;

        &__row {
          flex-direction: row;
          margin: 3rem 0;
          text-align: left;
          height: auto;
          width: 100%;
        }
      }

      &__text {
        margin: 0 0 0 2.4rem;

        h3 {
          font-size: 2.8rem;
        }
        p {
          font-size: 1.6rem;
        }
      }

      &__illustration {
        height: 60rem;
        width: 100%;
      }
    }
  }

  // GET-STARTED--DESKTOP-VIEW
  .get-started-section {
    .get-started {
      &__row {
        padding: 8rem 2rem;
        width: 65%;

        h3 {
          font-size: 2.8rem;
        }

        p {
          font-size: 1.6rem;
        }
      }

      &__img {
        height: 18.5rem;
        width: 25rem;

        &--sm {
          height: 18.5rem;
          width: 17.9rem;
        }

        &--md {
          height: 12.5rem;
          width: 25rem;
        }
      }
    }
  }

  // FOOTER--DESKTOP-VIEW
  .footer {
    height: 100%;
    width: 100%;

    &__wrapper {
      margin: 0 10rem 4rem 10rem;
      height: 100%;

      &__col {
        flex-basis: 25%;
      }
    }

    .copyrights {
      p {
        font-size: 1.6rem;
      }
    }
  }
}

@media (min-width: 1200px) {
  header {
    // margin: 0 10rem 0rem;

    .hero {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      // new
      margin: 3rem 0;
      width: 100%;
      height: 100%;

      &__img {
        display: inline-block;
        flex-basis: 55%;
      }

      &__illustration {
        &--shop {
          display: inline-block;
        }

        &--think {
          display: none;
        }
      }

      &__content {
        width: 45%;
      }

      &__text {
        h1 {
          font-size: 5.5rem;
        }

        h4 {
          color: var(--body-copy);
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.7;
          margin-bottom: 2.8rem;
        }
      }
    }

    .navbar {
      &__link {
        font-size: 1.8rem;
      }
    }
  }

  main {
    margin: 10rem 12rem;
  }

  // ABOUT US--DESKTOP-VIEW
  .about-us-section {
    flex-direction: column;
    // margin: 0 12rem 12rem;

    .about-us {
      display: flex;
      flex-direction: row;

      &__contents {
        flex-direction: column;
        margin: 0;

        &__row {
          flex-direction: row;
          margin: 3rem 0;
        }
      }

      &__logo-wrapper {
        height: 7.5rem;
        width: 7.5rem;

        i {
          font-size: 4.5rem;
        }
      }

      &__img {
        margin: 0;
        order: 1;
      }

      &__illustration {
        height: auto;
        width: 100%;

        &__pickup {
          display: inline-block;
          height: 100%;
        }

        &__collect {
          display: none;
        }
      }
    }
  }

  // GET-STARTED
  .get-started-section {
    padding: 0;
    height: 100%;

    .get-started {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 100%;

      &__row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 32%;
        height: 45rem;

        &:not(:first-child) {
          margin-top: 0;
        }
      }

      &__img {
        display: inline-block;
        height: 15rem;
        width: 25rem;

        &--sm {
          height: 12.5rem;
          width: 25rem;
        }

        &--md {
          height: 13rem;
          width: 25rem;
        }
      }
    }
  }
}
