.delivery__main {
  margin: 0 10rem 10rem;
}

.section__delivery {
  // Contents
  &__wrapper {
    width: 90%;
  }

  &__contents {
    &:not(:last-child) {
      margin-bottom: 4.8rem;
    }
    h3 {
      font-size: 3rem;
      line-height: 1.2;
    }
    p {
      font-size: 1.8rem;
    }
  }

  .primary__list {
    font-size: 1.6rem;
    line-height: 1.8;
    margin: 1.6rem 0;

    &__note {
      color: var(--body-copy);
      font-size: 2rem;
      font-weight: 700;
      list-style: none;
    }

    &__bullets {
      font-weight: 400;
      margin: 1.6rem 0 1.6rem 4rem;
    }

    &__item {
      color: var(--body-copy);
      font-size: 1.6rem;
      line-height: 1.8;
      list-style: disc;
    }
  }
}

// MEDIA QUERIES
@media (min-width: 300px) {
  .delivery__main {
    margin: 0 3rem 3rem;
  }

  .section__delivery {
    &__wrapper {
      width: 100%;
    }

    &__contents {
      h3 {
        font-size: 2.4rem;
      }

      p {
        font-size: 1.6rem;
      }
    }

    .primary__list {
      &__bullets {
        margin: 1rem 0 1rem 2rem;
      }
    }

    .heading__primary {
      font-size: 2.8rem;
    }
  }

  .navbar {
    &--delivery {
      margin: 3rem 0;
      padding: 0 3rem;
      width: 100%;
    }

    &__logo {
      font-size: 3.2rem;
    }
  }
}

@media (min-width: 768px) {
  .delivery__main {
    margin: 0 4rem 4rem;
  }

  .navbar {
    width: 100%;

    &--delivery {
      margin: 4rem 0;
      padding: 0 4rem;

      height: auto;
      width: 100%;
    }

    &__logo {
      font-size: 3.6rem;
    }
  }
}

@media (min-width: 992px) {
  .delivery__main {
    margin: 0 10rem 10rem;
  }

  .navbar {
    width: 100%;

    &--delivery {
      margin: 5rem 0;
      padding: 0 10rem;
      height: auto;
      width: 100%;
    }
  }
}
