// FOOTER-SECTION
.footer {
  background-image: linear-gradient(
    to right,
    #495894,
    #445289,
    #3e4b7f,
    #394574,
    #343f6a
  );
  height: auto;
  width: 100%;

  &__wrapper {
    margin: 0 12rem 4rem 12rem;
    padding: 4rem 0;
    height: 40rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      color: #fbfbfb;
    }
  }

  &__col {
    flex-basis: 30%;
    min-height: 22rem;
  }

  .copyrights {
    background-color: #fbfbfb;
    color: var(--body-copy);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 7.5rem;
  }

  @media (min-width: 300px) {
    &__wrapper {
      margin: 0 3.2rem 3rem;
      padding: 2rem 0;
      height: auto;

      h2 {
        font-size: 4rem;
      }
    }

    &__row {
      flex-direction: column;
      width: 100%;
    }

    &__col {
      align-self: flex-start;
      flex-basis: 25%;

      &:not(:first-child) {
        min-height: 18.5rem;
      }

      &:last-child {
        min-height: auto;
      }

      // saan?
      form {
        input {
          height: 3.75rem;
        }
      }
    }
    .copyrights {
      p {
        font-size: 1rem;
        width: 80%;
      }
    }
  }

  @media (min-width: 768px) {
    margin: 0;
    height: auto;
    width: 100%;

    &__wrapper {
      margin: 0 8rem;
      height: auto;
    }

    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-size: 2.8rem;
      }
      p {
        font-size: 1.8rem;
        line-height: 1.8;
        color: #fbfbfb;
      }
    }
  }

  @media (min-width: 992px) {
    height: 100%;
    width: 100%;

    &__wrapper {
      margin: 0 10rem 4rem 10rem;
      height: 100%;

      &__col {
        flex-basis: 25%;
      }
    }

    .copyrights {
      p {
        font-size: 1.6rem;
      }
    }
  }

  @media (min-width: 1200px) {
    height: auto;
    width: 100%;

    &__wrapper {
      margin: 0 12rem 4rem 12rem;
      height: 100%;
    }

    &__row {
      flex-direction: row;

      h3 {
        font-size: 2.4rem;
      }

      p {
        font-size: 1.6rem;
      }
    }

    &__col {
      flex-basis: 30%;
      min-height: 22rem;
    }

    .copyrights {
      p {
        font-size: 1.8rem;
      }
    }
  }
}
