.section__product {
  margin: 0 auto;
  height: auto;
}

.product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;

  // IMAGE | 1
  &__img {
    flex-basis: 50%;
    text-align: center;
    pointer-events: none;
    user-select: none;

    @media (min-width: 300px) {
      & {
        margin-bottom: 1.6rem;
        height: 100%;
        width: 100%;

        img {
          height: inherit;
          width: inherit;
        }
      }
    }

    @media (min-width: 768px) {
      & {
        margin-bottom: 4rem;

        img {
          object-fit: center;
          height: 55rem;
          width: 80%;
        }
      }
    }

    @media (min-width: 992px) {
      & {
        margin-bottom: 0;

        img {
          height: 46.5rem;
          width: 35rem;
        }
      }
    }
  }

  // CONTENTS |2
  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 75%;
    user-select: none;

    @media (min-width: 300px) {
      h3 {
        font-size: 3.2rem;
      }

      & {
        .contents {
          &__text {
            font-size: 1.6rem;
          }
        }
      }
    }

    @media (min-width: 768px) {
      & {
        .contents {
          margin: 0 7rem;
        }
      }
    }

    @media (min-width: 992px) {
      margin-left: 3rem;
      & {
        flex-basis: 50%;
        .contents {
          margin: 0;

          &__text {
            font-size: 1.8rem;
            line-height: 1.8;
          }
        }

        h3 {
          font-size: 3.6rem;
        }
      }
    }
  }

  // form
  form {
    display: flex;
    flex: 1;
    width: 100%;
  }

  .input__wrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
  }

  label {
    color: var(--body-copy);
    font-family: "Sora", sans-serif;
    font-weight: 300;
    margin-bottom: 1rem;

    @media (min-width: 300px) {
      & {
        font-size: 1.6rem;
      }
    }

    @media (min-width: 992px) {
      & {
        label {
          font-size: 1.8rem;
        }
      }
    }
  }

  // INPUT: NUMBER
  &__input {
    border: 1px solid rgba(64, 64, 64, 0.3);
    display: inline-block;
    color: var(--color-primary);
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    height: 4.5rem;
    width: 100%;

    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  @media (min-width: 300px) {
    & {
      flex-direction: column;

      &__price {
        font-size: 2.6rem;
        font-weight: 700;
      }
    }
  }

  @media (min-width: 768px) {
    & {
      &__img {
        margin-bottom: 4rem;

        img {
          object-fit: center;
          height: 55rem;
          width: 80%;
        }
      }
    }
  }

  @media (min-width: 992px) {
    & {
      flex-direction: row;
      justify-content: space-between;

      &__price {
        font-size: 3.2rem;
        font-weight: 700;
      }

      &__img {
        margin-bottom: 4rem;

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  @media (min-width: 1200px) {
    & {
      &__img {
        margin-bottom: 4rem;

        img {
          object-fit: center;
          height: 55rem;
          width: 80%;
        }
      }
    }
  }
}

// CART ITEM
.cart {
  position: relative;
  // border: 1px solid #000;
  height: 5rem;
  width: 5rem;

  &__notif {
    position: absolute;
    top: -1rem;
    right: 0;
    background-color: var(--color-primary);
    border-radius: 100%;
    color: #f2f2f2;
    font-size: 1.4rem;
    text-align: center;
    padding: 0.5rem 0.3rem;
    height: 3rem;
    width: 3rem;
  }

  // NEW
  &__details {
    display: none;
    position: absolute;
    top: 10rem;
    right: 11rem;
    font-size: 1.8rem;
    background-color: #fbfbfb;
    border: 1px solid rgba(64, 64, 64, 0.25);
    border-radius: 4px;
    padding: 4rem;
    height: auto;
    width: 50rem;
    user-select: none;

    &.show {
      display: block;
    }

    &__prod {
      display: flex;
      flex-wrap: wrap;
      flex: 1;
    }

    &__img {
      flex-basis: 30%;
      pointer-events: none;
      user-select: none;

      img {
        border-radius: 50%;
        object-fit: cover;
        height: 10rem;
        width: 10rem;
      }
    }

    &__contents {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .col-1 {
        p {
          font-size: 1.6rem;
        }
      }
    }

    &__input {
      border: 1px solid rgba(64, 64, 64, 0.3);
      display: inline-block;
      color: var(--color-primary);
      font-size: 1.7rem;
      font-weight: 700;
      text-align: center;
      height: 3.2rem;
      width: 10rem;

      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &:hover,
      &:active,
      &:focus {
        outline: none;
      }
    }

    &__wrapper {
      // Initial shows no item on cart
      &--0 {
        display: block;
        margin: 0 auto;
        text-align: center;

        &.hidden {
          display: none;
        }
      }

      // Once there are items on the cart, this code will run
      &--1 {
        display: none;

        &.show {
          display: block;
        }
      }
    }

    &__layout {
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
      flex: 1;
      width: 100%;
    }
  }

  @media (min-width: 300px) {
    & {
      width: 5.5rem;

      &__details {
        position: absolute;
        top: 0;
        right: 0;
      }

      &__notif {
        font-size: 1.4rem;
      }

      i {
        font-size: 2.4rem;
        margin-left: 1rem;
        margin-top: 1rem;
      }
    }
  }

  @media (min-width: 768px) {
    & {
      width: 5.5rem;

      &__details {
        position: absolute;
        top: 10rem;
        right: 11rem;
      }

      &__notif {
        font-size: 1.6rem;
      }

      i {
        font-size: 3rem;
        margin-left: 1rem;
        margin-top: 1rem;
      }
    }
  }
}

.h4 {
  font-size: 2.4rem;
}
