.section__product {
  margin: 0 auto;
  height: auto;
}

.product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;

  // IMAGE | 1
  &__img {
    flex-basis: 50%;
    text-align: center;

    @media (min-width: 300px) {
      & {
        margin-bottom: 1.6rem;
        height: 100%;
        width: 100%;

        img {
          height: inherit;
          width: inherit;
        }
      }
    }

    @media (min-width: 768px) {
      & {
        margin-bottom: 4rem;

        img {
          object-fit: center;
          height: 55rem;
          width: 80%;
        }
      }
    }

    @media (min-width: 992px) {
      & {
        margin-bottom: 0;

        img {
          height: 46.5rem;
          width: 35rem;
        }
      }
    }
  }

  // CONTENTS |2
  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 75%;

    @media (min-width: 300px) {
      h3 {
        font-size: 3.2rem;
      }

      & {
        .contents {
          &__text {
            font-size: 1.6rem;
          }
        }
      }
    }

    @media (min-width: 768px) {
      & {
        .contents {
          margin: 0 7rem;
        }
      }
    }

    @media (min-width: 992px) {
      margin-left: 3rem;
      & {
        flex-basis: 50%;
        .contents {
          margin: 0;

          &__text {
            font-size: 1.8rem;
            line-height: 1.8;
          }
        }

        h3 {
          font-size: 3.6rem;
        }
      }
    }
  }

  // form
  form {
    display: flex;
    flex: 1;
    width: 100%;
  }

  .input__wrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
  }

  label {
    color: var(--body-copy);
    font-family: "Sora", sans-serif;
    font-weight: 300;
    margin-bottom: 1rem;

    @media (min-width: 300px) {
      & {
        font-size: 1.6rem;
      }
    }

    @media (min-width: 992px) {
      & {
        label {
          font-size: 1.8rem;
        }
      }
    }
  }

  // INPUT: NUMBER
  &__input {
    border: 1px solid rgba(64, 64, 64, 0.3);
    display: inline-block;
    color: var(--color-primary);
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    height: 4.5rem;
    width: 100%;

    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  @media (min-width: 300px) {
    & {
      flex-direction: column;

      &__price {
        font-size: 2.6rem;
        font-weight: 700;
      }
    }
  }

  @media (min-width: 768px) {
    & {
      &__img {
        margin-bottom: 4rem;

        img {
          object-fit: center;
          height: 55rem;
          width: 80%;
        }
      }
    }
  }

  @media (min-width: 992px) {
    & {
      flex-direction: row;
      justify-content: space-between;

      &__price {
        font-size: 3.2rem;
        font-weight: 700;
      }

      &__img {
        margin-bottom: 4rem;

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  @media (min-width: 1200px) {
    & {
      &__img {
        margin-bottom: 4rem;

        img {
          object-fit: center;
          height: 55rem;
          width: 80%;
        }
      }
    }
  }
}

// Todo: Newly added line of codes, initial layout
// NEW
.navbar--cart {
  position: relative;
  height: 100%;
  width: 100%;
}

// CART ITEM
.cart {
  position: relative;
  // border: 1px solid #000;
  height: 5rem;
  width: 5rem;

  &__notif {
    position: absolute;
    top: -1rem;
    right: 0;
    background-color: var(--color-primary);
    border-radius: 100%;
    color: #f2f2f2;
    font-size: 1.4rem;
    text-align: center;
    padding: 0.5rem 0.3rem;
    height: 3rem;
    width: 3rem;
  }

  // NEW
  &__details {
    position: absolute;
    top: 10rem;
    right: 11rem;
    font-size: 1.8rem;
    background-color: #fbfbfb;
    border: 1px solid rgba(64, 64, 64, 0.25);
    border-radius: 4px;
    padding: 4rem;
    height: auto;
    width: 50rem;

    &__prod {
      display: flex;
      flex: 1;
    }

    &__img {
      flex-basis: 30%;
      img {
        border-radius: 50%;
        object-fit: cover;
        height: 10rem;
        width: 10rem;
      }
    }

    &__contents {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .col-1 {
        p {
          font-size: 1.6rem;
        }
      }
    }

    &__input {
      border: 1px solid rgba(64, 64, 64, 0.3);
      display: inline-block;
      color: var(--color-primary);
      font-size: 1.7rem;
      font-weight: 700;
      text-align: center;
      height: 3.2rem;
      width: 10rem;

      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &:hover,
      &:active,
      &:focus {
        outline: none;
      }
    }
  }
}

// Bug: NEW
// BTN-NEW
.btn--xs {
  background-color: rgba(112, 112, 112, 0.3);
  border-radius: 4px;
  border: none;
  color: #111;
  padding: 0.5rem 2rem;
  text-align: center;
  height: 3.2rem;
}
