// BUTTONS
.btn {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  cursor: pointer;

  &--primary {
    background-image: linear-gradient(
      to right,
      #d15042,
      #d04b3d,
      #cf4738,
      #cd4233,
      #cc3d2e
    );
    box-shadow: 0 0.8rem 1.6rem rgba(209, 80, 66, 0.4);

    &:hover,
    &:focus,
    &:active {
      background-image: linear-gradient(
        to right,
        #a33024,
        #962c21,
        #8a281f,
        #7e251c,
        #722119
      );
      outline: none;
    }

    border: none;
    border-radius: 6px;
    color: #fbfbfb;
    font-size: 2rem;
    text-align: center;
    padding: 1rem 2rem;
    height: 5.5rem;
    width: 20rem;

    &.n-shadow {
      box-shadow: none;
    }
  }

  &--secondary {
    background-image: linear-gradient(
      to right,
      #495894,
      #445289,
      #3e4b7f,
      #394574,
      #343f6a
    );

    &:hover,
    &:focus,
    &:active {
      background-image: linear-gradient(
        to right,
        #495894,
        #445289,
        #3e4b7f,
        #394574,
        #343f6a
      );
      outline: none;
    }

    border: none;
    border-radius: 6px;
    color: #fbfbfb;
    font-size: 2rem;
    text-align: center;
    padding: 1rem 2rem;
    height: 5.5rem;
    width: 20rem;

    &.n-shadow {
      box-shadow: none;
    }
  }

  &--centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    i {
      font-size: 2rem;
    }
  }

  &--sm {
    font-size: 1.4rem;
    text-align: center;
    padding: 0.8rem;
    height: 4rem;
    width: 12rem;
  }

  &--md {
    border-radius: 4px;
    font-size: 1.8rem;
    text-align: center;
    padding: 0.8rem;
    height: 4.55rem;
    width: 18rem;
  }
}
