// BUTTONS
.btn {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  cursor: pointer;

  &--primary {
    background-image: linear-gradient(
      to right,
      #d15042,
      #d04b3d,
      #cf4738,
      #cd4233,
      #cc3d2e
    );
    box-shadow: 0 0.8rem 1.6rem rgba(209, 80, 66, 0.4);

    &:active {
      background-image: linear-gradient(
        to right,
        #d15042,
        #d04b3d,
        #cf4738,
        #cd4233,
        #cc3d2e
      );
    }
    &:hover,
    &:focus {
      background-image: linear-gradient(
        to right,
        #a33024,
        #962c21,
        #8a281f,
        #7e251c,
        #722119
      );
      outline: none;
    }

    border: none;
    border-radius: 6px;
    color: #fbfbfb;
    font-size: 2rem;
    text-align: center;
    padding: 1rem 2rem;
    height: 5.5rem;
    width: 20rem;

    &.n-shadow {
      box-shadow: none;
    }
  }

  &--secondary {
    background-color: #4b4065;

    &:hover,
    &:focus,
    &:active {
      background-color: #4b4065;
      outline: none;
    }

    border: none;
    border-radius: 6px;
    color: #fbfbfb;
    font-size: 2rem;
    text-align: center;
    padding: 1rem 2rem;
    height: 5.5rem;
    width: 20rem;

    &.n-shadow {
      box-shadow: none;
    }
  }

  &--xs {
    background-color: rgba(112, 112, 112, 0.3);
    border-radius: 4px;
    border: none;
    color: #111;
    padding: 0.5rem 2rem;
    text-align: center;
    height: 3.2rem;
  }

  &--sm {
    font-size: 1.4rem;
    text-align: center;
    padding: 0.8rem;
    height: 4rem;
    width: 12rem;
  }

  &--md {
    border-radius: 4px;
    font-size: 1.6rem;
    text-align: center;
    padding: 0.8rem;
    height: 4.55rem;
    width: 18rem;
  }

  &--prod {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    margin: 3rem 0 0 3rem;
  }

  i {
    margin: auto 0.5rem auto 0;
    display: inline-block;
    font-size: 2rem;
    line-height: 2;
    text-align: center;
  }
}
