// UTILITIES
.mb-sm {
  // 1rem
  margin-bottom: 0.8rem;
}

.mb-md {
  margin-bottom: 2.4rem;
}

.mb-xl {
  margin-bottom: 4rem;
}

.mt-md {
  margin-top: 2rem;
}

.mt-lg {
  margin-top: 4.2rem;
}

.mr-sm {
  margin-right: 0.8rem;
}
