// MEDIA QUERIES
@media (min-width: 300px) {
  main {
    margin: 8rem 3.2rem;
  }

  .delivery__main,
  .payment__main,
  .product__main {
    margin: 0 3rem 3rem;

    h1 {
      font-size: 2.8rem;
    }

    h3 {
      font-size: 2.4rem;
    }

    p {
      font-size: 1.6rem;
    }
  }
}

@media (min-width: 768px) {
  main {
    margin: 8rem 4rem;
  }

  .delivery__main,
  .payment__main,
  .product__main {
    margin: 0 4rem 4rem;

    h1 {
      font-size: 3.6rem;
    }

    p {
      font-size: 1.8rem;

      &.product__price {
        font-size: 2.4rem;
      }
    }

    h3 {
      font-size: 3.2rem;
    }
  }
}

@media (min-width: 992px) {
  main {
    margin: 10rem;
  }
  .delivery__main,
  .payment__main,
  .product__main {
    margin: 0 10rem 10rem;
  }
}

@media (min-width: 1200px) {
  main {
    margin: 10rem 12rem;
  }
}
